---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.categories.entries %}
      <li>
	<div>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;:&nbsp;</span>
          <span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
	</div>
	<div class="post-digest">{{ post.excerpt | strip_html | strip_newlines | truncate: 100 }}</div>
      </li>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Slides</h1>

  <p>null</p>

  <!--
  <ul class="post-list">
    {% for post in site.categories.slides %}
      <li>
	<div>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}&nbsp;:&nbsp;</span>
          <span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
	</div>
      </li>
    {% endfor %}
  </ul>
  -->

  <h1 class="page-heading">Others</h1>

  <ul>
    <li><a href="satysfi-my-soul">SATySFi My Soul</a>: SATySFi のコード例をまとめているサイトです。</li>
  </ul>
</div>
